MONGO_URI=mongodb://localhost:27017/studydocs
PORT=3000

AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_BUCKET=studydocs-pdfs
SQS_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/studydocs-processing

ELASTICSEARCH_NODE=http://localhost:9200
